.Timer {
  position: relative;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.Timer:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.Timer > * {
  position: absolute;
  top: 0;
  left: 0;
}
